/* .carousel{
    height: 500px;
    img{
        height: 500px;
        object-fit: cover;
    }
} */
/* nav{
    ul{
        margin-inline-end: 10px;
    }
} */
 /* .container{
    ul{
        margin-left:90%;
    }
 } */